@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap");

/*           ALTERAÇÕES DO BODY           */
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  /* background: linear-gradient(115deg, #668284, #6e7d7e, #493736, #7b3b3b); */
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}