/* Estilo do container do terminal */
.terminal-container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 16px #00000033;
  gap: 1rem; /* espaço entre os elementos */
}

/* Estilo do input de número */
.terminal-container input[type="number"] {
  width: 120px;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
}

/* Estilo dos botões dentro do terminal */
.terminal-container button {
  padding: 8px 16px;
  background-color: #303332;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.terminal-container button:hover {
  background-color: #c0c0c0;
}